
{% extends 'base.html' %}


{% block content %}

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <div class="mb-3">
      <form action="/resultgcprecentage" method="POST" enctype="multipart/form-data">  
        {% csrf_token %}
        <center>
      <label for="exampleFormControlTextarea1" class="form-label" >ENTER DNA</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100" name="num1"></textarea>
      <button type="submit" class="btn btn-primary">SEND</button>
    </center>
</form>
    </div>  
  </div>
  {% endblock content %}
