{% extends 'base.html' %}

{% block content %}

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <div class="mb-3">
        <center>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="100" name="num1" aria-label="Disabled input example" disabled readonly>{{p}}</textarea>
      <a href="/filternbases"><button type="submit" class="btn btn-primary">back to filter nbases</button></a> 

    </center>
</form>
    </div>  
  </div>
{% endblock content %}
